
header {
    position: relative;
    height:12%;
    width:80%;
    /*background-color: pink;*/
}
#bodyHeader{
    position: absolute;
    font-size:200%;
    left:50%;
    transform: translate(-50%);
    
    /*background-color: aquamarine;*/
}
nav {
    position: relative;
    height: 2.55cm;
    width:100%;
    margin-bottom:0px ;

}

section{
    /*background-color: aqua;*/
    left:5%;
    top:2cm;
    height:10cm;
    position: absolute;
    width: 95%;
}
article {
    position: absolute;
    top:1.1cm;

    width:95%;
    height:12.75cm;

}
.bodyContainer{
    position: relative;
    /*background-color: pink;*/
    height:80%;
}

#marginBox2 {
    position: absolute;
    border:1px solid; 
    height:100%;
    background-color: white;
    width:100%;
    margin-bottom: 0px;

}
#marginBox3 {
    position: absolute;
    border:1px solid;
    height:12cm;
    width:6.2cm;
    top:1.1cm;
    background-color: blanchedalmond;


}
#marginBox4 {

    position: absolute;
    left:5%;
    top:0cm;
    margin:0px;
    border:1px solid; 
    height:2cm;
    width:95%;
    background-color:powderblue;
    writing-mode:horizontal-tb;



}
#boardListName {
    writing-mode:horizontal-tb;
    position: absolute;
    left:50%;
    top:0px;
    transform: translate(-50%);
    text-shadow: -1px 0px black,0px 1px black, 1px 0px black, 0px -1px black;
    color:white;


}
.box {
    position: relative;
    background-color: powderblue;
    color:white;
    width:20%;
    height:50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size:20px;
    
}

.linkContainer{
    background-color: pink;
    position: absolute;
    width:73.7%;

    height: 100%;
}

#loginBox{
    position: absolute;
    left:5%;
    top:40%;   
}

#joinBox{
    position: absolute;
    left:27%;
    top:40%;
}
#home {
    position: absolute;
    left:49.1%;
    top:25%;
    width:7%;

}
#writeBox {
    position: absolute;
    left:58%;
    top:40%;
}
#readBox {
    position: absolute;
    left:80%;
    top:40%;
}

.container1 {
    position: absolute;
    /*background-color: yellow;*/
    height: 100%;
    left:78%;
    margin:0px;
    width: 17%;

}
#github {
   position: absolute;
   border: 0cm;
   top:30%;
   width:60px;
   left:calc(100% - 50px - 55px - 3%  - 3% - 65px - 3% - 60px);
   text-decoration-line:none;
}

#tistory {
    position: absolute;
    top:25%;
    width:65px;
    left:calc(100% - 50px - 55px - 3%  - 3% - 65px);
    text-decoration : none;

}

a {
    text-decoration-line:none;
}
#email {
    position: absolute;
    top:30%;
    width:55px;
    left:calc(100% - 50px - 55px - 3%);
}
#setting {
    position: absolute;
    top:20.4%;
    width:50px;
    left: calc( 100% - 50px);

}
aside{
    position: absolute;
    left:78%;   
    top:0cm;
    height: 12.75cm;
}
#hamburger{
    height: 0;
    width: 0;
}

footer {

    position: absolute;
    margin:0px;
    padding: 0px;
    border:0px;
    top:18cm;
    width:100%;
    height: 1cm;
    /*background-color: pink;*/

}
#footerText {
    /*background-color: aquamarine;*/
    position: absolute;
    left:50%;
    top:0cm;
    transform: translate(-50%);
}
#exit {
    position: absolute;
    left:4.84cm;
    top:0.9cm;
    width: 1.78cm;
}
.bodyContainer{

    height:13.85cm;
    width:100%;
}
@media (max-width:1200px) {
    #bodyHeader{
        position: absolute;
        font-size:180%;
        left:50%;
        transform: translate(-50%);
        
    /*    background-color: aquamarine;*/
    }
    header {

        width:100%;   

    }

    #marginBox3{
        border: 0;
        width: 0;
        height: 0;
    }
    #exit {
        width: 0;
        height: 0;
    }
    article {
        position: relative;
        top:1.1cm;
        /*background-color: aqua;*/
        width:95%;
        height:64%;
    
    }


    #loginBox{
        position: absolute;
        left:5%;
        top:40%;   
    }
    
    #joinBox{
        position: absolute;
        left:30%;
        top:40%;
    }
    #home {
        height: 0%;
        width:0%;
    
    }
    #writeBox {
        position: absolute;
        left:55%;
        top:40%;
    }
    #readBox {
        position: absolute;
        left:80%;
        top:40%;
    }

    
    .linkContainer{
        position: absolute;
        width:95%;
    
        height: 100%;
    }
    .container1 {
        position: absolute;
        height: 0%;
        width:0%;
    }
    #github {
        width:0%;
        height: 0%;
    }
    
    #tistory {
        height:0%;
        width:0%;


    }
    
    #email {

        width:0%;
        height:0%;
    }
    #setting {
        width:0%;
        height:0%;
    
    }
    aside{
        left:90%;
        width: 10%;

    }


}
@media (max-width:598px) {





    .box{
        font-size:18px;
    }
    #footerText {
        /*background-color: aquamarine;*/
        position: absolute;
        left:30%;
        transform: translate(0%);
    }

}
@media (max-width:530px) {
    #bodyHeader{
        font-size:140%;
    }
    #hamburger{
        position: absolute;
        width:0;
        height:0;
    }
}
@media (max-width:402px) {

    #bodyHeader{
        position: absolute;
        font-size:120%;

        left:50%;
        transform: translate(-50%);
        
        /*background-color: aquamarine;*/
    }
    .box{
        font-size:14px;
    }
    #footerText {
        /*background-color: aquamarine;*/

        position: absolute;
        left:20%;
        transform: translate(0%);
    }


}


