.box {


    background-color: powderblue;
    color:white;
    width:5.7cm;
    height:40px;

    
}

.container{
    margin-right: 1cm;
}
#readBox {
    margin-right:0.6cm;
}
#github {
   position: relative;
   top:10px;
   margin-left:2.2cm;
   margin-right: 0.2px;

}
#loginBox{
    position: relative;
    margin-left: 2cm;
}
#tistory {
    position: relative;
    top:15px;
    margin-right:0.1px;
}
#home {
    position: relative;
    top:15px;
    

}
#writeBox{

}
#email {
    position: relative;
    top:13px;
    margin-right: 0;
}

#marginBox {
    position: absolute;
    left:34.2cm;
    top:23px;
    border:1px solid; padding:23px;padding-left:102.5px; 
    background-color: palevioletred;
}
section {
    position: absolute;
    top:3cm;
    margin-top:10px;

}

#textarea {
    position: relative;
    font-size:20px;
    height:1.3cm;
    width:18cm;
    margin-left:100px;
    
}
#searchButton {
    margin-left:10px;
    position: relative;
    width:2cm;
    height: 1.3cm;
    font-size:20px;
    background-color: powderblue;
    color:white;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;

}

#writeButton {
    position: absolute;
    margin: 0px;
    width:2cm;
    top:0px;
    left:23.4cm;
    height: 1.3cm;
    font-size:20px;
    background-color: powderblue;
    color:white;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}
th{
    border-top: 4px solid black;
    border-bottom: 2px solid black;
}
table{
    position: relative;
    text-align: center;
    margin-left:100px;
    border-spacing: 0px;
	width: 22.8cm;
	table-layout: fixed;
    writing-mode:horizontal-tb;
    

}
td {
    border-bottom: 2px solid black;
}

tr{
    height:1cm;
}
#advertisement{
    background-color: pink;
    position: absolute;
    left:27cm;
    top:3.3cm;
    width: 10cm;
    height: 15cm;
}


footer {
    position: absolute;
    margin:0px;
    padding: 0px;
    border:0px;
    top:18cm;
    left: 12cm;
}
.container2{
    position:absolute;
    top:13.2cm;
    left:2.64cm;
    padding-right:22.76cm;
    margin:0;
    /*
    border: 1px solid black;
    padding:10px pink;
    */
}
.page{
    white-space: nowrap;
    writing-mode: horizontal-tb;
    float:left;
    position: absolute;
}
#page1{
    left:5%;

}

#page2{
    
    left:15%;

}

#page3{
    left:25%;
}

#page4{
    left:35%;
}

#page5{
    left:45%;
}

#page6{
    left:55%;
}

#page7{
    left:65%;
}

#page8{
    left:75%;
}

#page9{
    left:85%;
}
#page10{
    left:95%;
}
